*, html {
    padding: 0;
    margin: 0;
    font-family: DejaVu Sans !important;
}
body {
    font-family: DejaVu Sans !important;
    padding: 20px 15px;
    margin: 0;
    height: 100%;
    background: #FFF !important;
    line-height: 1.15 !important;
}

body:before, body:after {
    display: none !important;
}

h1,h2 {
    font-family: DejaVu Sans !important;
    font-weight: bold;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
    line-height: 16px;
}

header, footer {
    text-align: center;
    padding: 5px 25px !important;
    background-color: #F9F9FF;
    height: 20px;
    color: #000;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
}
header { top: 0px; }
footer { bottom: 10px; }

.title {
    text-transform: uppercase !important;
}

/*Invoice Details Table Style*/
.well{
    border-color: #d9e2e6 !important;
    color: #000 !important;
    background-color: #e7eff3 !important;
}
.well .invoice-details  td {
    line-height: 20px;
}
/*Invoice Details Table Style End*/


/*Billing table Design*/
/*.table-bordered>tbody>tr>td {*/
/*    border: 1px solid #d9e2e6;*/
/*}*/
.table-responsive .table th{

    border-color: #d9e2e6 !important;
    color: #000 !important;
    background-color: #e7eff3 !important;
    padding: 8px;
    font-size: 12px;
    text-align: left;
}
.table-responsive th:nth-child(5){
    text-align: right;
}
.table-responsive .table tbody td{
    border: 1px solid #d9e2e6;

    text-align:left;
    padding: 8px;
    font-size: 12px;
    vertical-align:middle;
}
.table-responsive td:nth-child(1){
    width:10%;
}
.table-responsive td:nth-child(2){

    width:40%;
}
.table-responsive td:nth-child(3){
    width:20%;
}
.table-responsive td:nth-child(4){
    width: 15%;
}
.table-responsive td:nth-child(5){
    text-align:right; width:15%;
}
.odd td {
    background-color: #f6f7f7;
}
/*Billing table Design End*/





.page {
    page-break-after: always;
}

@page { margin: 100px 25px; }

.pagenum:before { content: counter(page); }

.reseller-address{
    line-height: 20px;
    font-size: 12px;
}